includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    ignoreErrors:
        -
            message: '#Method .* has no return typehint specified\.#'
            path: tests/Stubs
        -
            message: '#Method .* should return .* but return statement is missing\.#'
            path: tests/Stubs
        -
            message: '#Method .* return type has no value type specified in iterable type .*\.#'
            path: tests/Stubs
        -
            message: '#.*#'
            path: tests/Stubs/Vendor/Symfony/Validator/ConstraintViolationListNoToStringStub.php
        -
            message: '#.*#'
            path: tests/Stubs/Vendor/Doctrine/EntityManagerStub.php
        -
            message: '#.* with no value type specified in iterable type Symfony\\Component\\Validator\\ConstraintViolationListInterface\.#'
            path: src/TestCases/
        -
            message: '#Variable method call on Eonx\\TestUtils\\Stubs\\BaseStub\.#'
            path: tests/TestCases/StubTestCase.php
